<div class="dashboard-container p-8 max-w-6xl mx-auto">
  <!-- Header Section with Notifications -->
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-3xl font-bold">Admin Dashboard</h1>
    <app-notification></app-notification> <!-- Notifications Icon -->
  </div>

  <p class="text-lg mb-6 text-center">This section is only accessible to admin users.</p>

  <mat-tab-group #tabGroup (selectedTabChange)="onTabChange($event)">
    <mat-tab label="My Transactions">
      <app-transaction (editTransactionEvent)="onEditTransaction($event)"></app-transaction>
    </mat-tab>
    <mat-tab *ngIf="isAdmin" label="All Users' Transactions">
      <app-all-users-transactions></app-all-users-transactions>
    </mat-tab>
    <mat-tab label="Add New Transaction">
      <app-add-transaction (transactionAdded)="navigateToMyTransactions()"></app-add-transaction>
    </mat-tab>
    <mat-tab label="Savings Goals">
      <app-savings-goal (goalAdded)="refreshSavingsGoals()"></app-savings-goal>
    </mat-tab>
    <!-- New Reports Tab -->
    <mat-tab label="Reports">
      <app-monthly-report></app-monthly-report>
    </mat-tab>
    <!-- New Budgets Tab -->
    <mat-tab label="Budgets">
      <app-budget-management></app-budget-management>
    </mat-tab>
    <!-- CV Tab -->
    <mat-tab label="CVs">
      <app-cv></app-cv>
    </mat-tab>
  </mat-tab-group>
</div>
