/* add-transaction.component.scss */

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  /* Remove arrows in number input fields */
  input[type="number"].no-arrow {
    /* For Chrome, Safari, Edge, and Opera */
    -webkit-appearance: none;
    margin: 0;

    /* For Firefox */
    -moz-appearance: textfield;
  }
}
