<div class="flex items-center justify-center h-screen bg-gray-100">
  <mat-card class="p-8 max-w-lg text-center shadow-lg">
    <mat-card-header>
      <mat-card-title>
        <h1 class="text-4xl font-bold text-red-600">Service Unavailable</h1>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p class="mt-4 text-lg text-gray-700">
        The Keycloak authentication service is currently unavailable.
        <br /> Please try again later.
      </p>
    </mat-card-content>

    <mat-card-actions class="mt-6">
      <button mat-raised-button color="primary" (click)="goBack()">Go Back</button>
    </mat-card-actions>
  </mat-card>
</div>
