/* app.component.scss */

/* Global color variables */
$light-gray-bg: #f5f5f5;

/* Global page styling */
body {
  font-family: 'Inter', sans-serif;
  background-color: $light-gray-bg;
  margin: 0;
  padding: 0;
}

/* Router outlet styling */
router-outlet {
  display: block;
  padding: 1rem; /* Add padding to give space between components */
}
